@{
    ViewBag.Title = "Map";
}


<h2>@ViewBag.Title</h2>

<script>

</script>

    @*<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @*<script type="text/javascript" src="~/js/site.min.js"></script>*@


